body {
   //background: pink;
   text-align: center;
   margin: 0; 
   padding: 0;
}

.title {
  position: relative;
  font-family: 'Amatic SC', 'Pontano Sans', sans-serif;
  font-size: 100px;
  width: 100%;
  height: 175px;
  color: #4A0095;
  z-index: 8000;
}

.caption{
  font-family: 'Amatic SC', 'Pontano Sans', sans-serif;
  font-size: 50px;
  color: #4A0095;
}

#container {
  position: relative;
  //border: 1px solid black;
  width: 100%;
  padding: 0;
  padding-bottom: 100px;
  margin: 0 auto;
  top: 45px;
  text-align: center;
}

#container ul.people {
  //border: 1px solid green;
  width: 852px;
  height: 1285px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  z-index: 8000;
  
}

.descr {
  display: none;
  position: absolute; 
  height: 100%;
  width: 100%;
  border: 5px solid #D1E6FC;
  top: -5px;
  left: -5px;
  background: #D1E6FC;
  text-align: left;
  font-family: 'Pontano Sans', sans-serif;
  opacity: 0.9;
}
        .content div.phoneNo {
	  text-align: center;
	  background: white;
	  padding: 15px 0;
	}
	.descr p {
	  padding: 0 15px;
	  font-size: 13px;
	}
	.contactMe {
	  //border: 1px solid black;
	  position: absolute;
	  width: 100%;
	  bottom: -2px;
	  text-align: right;
	}

.contactMe img {
  height: 50px;
}
.contactMe a {
  display: none;
}

.people li {
  border: 5px solid #4A0095;
  width: 259px;
  height: 410px;
  margin-left: 15px;
  margin-bottom: 15px;
  float: left;
}

.people li.last {
  margin-right: 0;
  background: #4A0095;
  color: white;
}
	.last h1 {
	  font-family: 'Amatic SC', 'Pontano Sans', sans-serif;
	  text-align: center;
          margin-bottom: 10px;
	}
	.last p {
	  text-indent: 13px;
	  font-family: 'Pontano Sans', sans-serif;
	  text-align: left; //justify;
	  padding: 0 35px;
          margin: 0;
	}
	.last a { 
	  color: white;
	}
	.last a:hover {
	  color: #AAAAAA;
	}


.content {
    //border: 1px solid red;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    text-align: left;
}
	.content div {
	  padding: 0;
	  margin: 0;
	  width: 259px;
	}
	.content .image {
	  position: relative;
	  height: 350px;
	  overflow: hidden;
	}
		.content .image img {
		  position: absolute;
		  width: 259px;
		  z-index: -9999;
		}

	.content .info {
	  height: 60px;
	  background: #4A0095;
	  color: white;
	}
		.content .info div {
		  //border: 1px solid red;
		  margin: 0;
		  height: 100%;
		  padding: 2px;
		}
		.content .info .name {
		  font-family: 'Amatic SC', 'Pontano Sans', sans-serif;
		  padding: 0;
		  top: 0px;
		  margin: 0;
		}
		.content .info .pos {
		  font-family: 'Pontano Sans', sans-serif;
		  margin: 0;
		  margin-top: -3px;
		}

a img.logo{
   position: fixed;
   margin: -5px 0 0 10px;
   float: left;
   width: 60px;
   height: 60px;
   opacity: 0.85;
   z-index: 9999;
}
	 img.logo:hover {
	    opacity: 1;
	}

#nav {
   position: relative;
   text-align: left;
   width: 100%;
   min-width: 1024px;
   height: 40px;
   z-index: 9998;
}

#menuBar {
   position: fixed;
   width: 100%;
   height: 40px;
   padding: 10px 0 5px 0;
   background: #F8F2FC; /* light purple */
   z-index: 9000;
}

#nav ul.menu {
   position: relative;
   list-style: none;
   font-size: 14px;
   font-family: 'Pontano Sans', sans-serif;
   text-align: center;
   color: #4A0095;
   float: right;
   padding: 10px;
}

#nav ul.menu li {
   position: relative;
   width: 90px;
   list-style: none;
   padding: 10px 10px 16px 10px;
   margin-top: -21px;
   float: left;
}
	#nav ul.menu li:hover {
	   color:#AAAAAA;
	}

#nav ul.menu a {
   text-decoration: none;
   color: #4A0095;
}
	#nav ul.menu a:hover {
	   color:#AAAAAA;
	}

#nav ul.menu li ul.subnav {
   display: none;
   position: absolute;
   left: 10px;
   top: 41px;
   margin-left: -50px;
}

#nav ul.menu li ul.subnav li {
   text-align: left;
   float: none;
   margin: 0px;
   background-color: #D1E6FC;
   opacity: 0.85;
}
	#nav ul.menu li ul.subnav li:hover {
	   opacity: 1;
	}

#nav ul.menu li ul.subnav li a {
   color: #4A0095;
}

	#nav ul.menu li ul.subnav li a:hover {
	   color: #AAAAAA;
	}


/* FOOTER */
#footer {
   position: relative;
   //height: 150px;
   width: 100%;
   bottom: 0;
   padding: 0;
   margin-top: 50px;
   background: #F8F2FC;
   font-family: "Amatic SC", "Pontano Sans", sans-serif;
   overflow: hidden;
}
.wrapper {
    height: 100%;
    margin: 15px 15px 15px 0;
    float: right;
    border: 1px solid red;
    color: #4A0095;
    font-weight: bold;
}
	.links {
	  //border: 1px solid black;
	  margin: 0;
	  margin-left: 30px;
	  padding: 0;
	  list-style: none;
	  font-size: 25px;
          text-align: left;
	  float: left;
	}
		.links li {
		  font-size: 20px;
	          font-weight: normal;
		}
		.links li a {
		  color: #4A0095;  
		}
		.links li a:hover {
		  color: #AAAAAA;
		}

	#icons {
	  //border: 1px solid green;
	  margin-left: 30px; 
	  float: left;
	}
		#icons img {
		  padding: 0;
		  margin: 0;
		  height: 50px;
		}
	#copyright {
	  clear: both;
	}

